<a
	[routerLink]="['/pokemon', pokemonID]"
	[queryParams]="linkParams"
	class="wrapper">
	<img
		*ngIf="pokemonData && !isLoading"
		[src]="pokemonData.sprites.other?.dream_world?.front_default || pokemonData.sprites.front_default || '/assets/img/pokeball.png'"
		alt=""
		class="sprite" />

	<p class="name">{{ pokemonData ? pokemonData.name : pokemonPreview?.name }}</p>

	<pokemon-types-icons
		*ngIf="pokemonData && !isLoading"
		[pokemon]="pokemonData">
	</pokemon-types-icons>

	<mat-progress-spinner
		*ngIf="isLoading && !pokemonData"
		class="spinner"
		mode="indeterminate"
		diameter="32"
		color="primary">
	</mat-progress-spinner>
</a>
