@import 'variables';

:host {
	position: relative;
	display: block;
	box-shadow: 0 4px 8px rgba(#000, 0.2);
	border-radius: 16px;
	transition: box-shadow 0.25s cubic-bezier(.55, 0, .1, 1);

	&:hover,
	&:focus {
		box-shadow: 0 8px 16px rgba(#000, 0.2);
	}

	&:after {
		content: '';
		display: block;
		width: 100%;
		padding-top: 100%;
	}
}

.spinner {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -16px 0 0 -16px;
}

.wrapper {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 16px;
	width: 100%;
	height: 100%;
}

.sprite {
	flex: 0 0 auto;
	width: 60%;
	height: 60%;
	margin: auto;
}

.name {
	margin-top: auto;
	font: 700 18px/22px $f-primary;
	text-transform: capitalize;
}
