@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 300;
	src: local('Roboto Light'), local('Roboto-Light'),
		url('~src/assets/fonts/roboto/roboto-v20-latin-300.woff2') format('woff2'),
		url('~src/assets/fonts/roboto/roboto-v20-latin-300.woff') format('woff');
}

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	src: local('Roboto'), local('Roboto-Regular'),
		url('~src/assets/fonts/roboto/roboto-v20-latin-regular.woff2') format('woff2'),
		url('~src/assets/fonts/roboto/roboto-v20-latin-regular.woff') format('woff');
}

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	src: local('Roboto Bold'), local('Roboto-Bold'), url('~src/assets/fonts/roboto/roboto-v20-latin-700.woff2') format('woff2'),
		url('~src/assets/fonts/roboto/roboto-v20-latin-700.woff') format('woff');
}
