$pkdx-primary: (
    50 : #f9e0e5,
    100 : #f1b3bd,
    200 : #e88091,
    300 : #df4d65,
    400 : #d82644,
    500 : #d10023,
    600 : #cc001f,
    700 : #c6001a,
    800 : #c00015,
    900 : #b5000c,
    A100 : #ffdedf,
    A200 : #ffabad,
    A400 : #ff787b,
    A700 : #ff5e62,
    contrast: (
        50 : #303030,
        100 : #303030,
        200 : #303030,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #303030,
        A200 : #303030,
        A400 : #303030,
        A700 : #303030
    )
);

$pkdx-accent: (
    50 : #e5f3ff,
    100 : #bde0fe,
    200 : #92cbfe,
    300 : #66b6fd,
    400 : #45a7fc,
    500 : #2497fc,
    600 : #208ffc,
    700 : #1b84fb,
    800 : #167afb,
    900 : #0d69fa,
    A100 : #ffffff,
    A200 : #f1f6ff,
    A400 : #bed5ff,
    A700 : #a5c4ff,
    contrast: (
        50 : #303030,
        100 : #303030,
        200 : #303030,
        300 : #303030,
        400 : #303030,
        500 : #303030,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #303030,
        A200 : #303030,
        A400 : #303030,
        A700 : #303030,
    )
);

$pkdx-warn: (
    50 : #f1e5e5,
    100 : #ddbebe,
    200 : #c69393,
    300 : #af6767,
    400 : #9e4747,
    500 : #8d2626,
    600 : #852222,
    700 : #7a1c1c,
    800 : #701717,
    900 : #5d0d0d,
    A100 : #ff9292,
    A200 : #ff5f5f,
    A400 : #ff2c2c,
    A700 : #ff1313,
    contrast: (
        50 : #303030,
        100 : #303030,
        200 : #303030,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #303030,
        A200 : #303030,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);
