<div class="page-section">
	<div class="page-section__wrapper">
		<div class="results-container">
			<ul class="results row" [ngClass]="{'results--loading': isLoading}">
				<li class="results__item col-lg-3 col-md-4 col-sm-6" *ngFor="let pokemon of results">
					<pokemon-item
						[pokemon]="pokemon"
						[linkParams]="{page: page}">
					</pokemon-item>
				</li>
			</ul>

			<div class="results__loading-section" *ngIf="isLoading">
				<mat-progress-spinner
					class="results__loading-spinner"
					mode="indeterminate"
					diameter="64"
					color="primary">
				</mat-progress-spinner>
			</div>
		</div>

		<mat-paginator
			class="paginator"
			[length]="totalCount"
			[pageSize]="pageSize"
			[pageIndex]="page"
			[showFirstLastButtons]="true"
			(page)="onPageChange($event)">
		</mat-paginator>
	</div>
</div>
