<div class="page-section">
	<div class="page-section__wrapper">
		<div class="results-container">
			<ul class="results row" [ngClass]="{'results--loading': isLoading}">
				<li class="results__item col-md-3" *ngFor="let pokemon of results">
					<pokemon-item [pokemon]="pokemon"></pokemon-item>
				</li>
			</ul>

			<div class="results__loading-section" *ngIf="isLoading">
				<mat-progress-spinner
					class="results__loading-spinner"
					mode="indeterminate"
					diameter="64"
					color="primary">
				</mat-progress-spinner>
			</div>
		</div>

		<mat-paginator
			[length]="totalCount"
			[pageSize]="pageSize"
			[pageSizeOptions]="[8, 12, 16]"
			[pageIndex]="page"
			(page)="onPageChange($event)">
		</mat-paginator>
	</div>
</div>
