* {
	&,
	&:before,
	&:after {
		box-sizing: border-box;
	}
}

svg {
	flex-shrink: 0;
	fill: currentColor;
}

img	{
	max-width: 100%;
}

.page-section {
	padding: 64px 16px;

	&--no-top-pad {
		padding-top: 0;
	}

	&--no-btm-pad {
		padding-bottom: 0;
	}

	&__wrapper {
		max-width: 1200px;
		margin: 0 auto;
	}

	@media (max-width: 991px) {
		padding: 40px 0;
	}
}
